<div class="main-image">
  <img src="assets/images/frente.jpg" alt="Frente da associação de moradores">
  <h3 class="text-lg">AMORES</h3>
  <h5 class="text-sm">Associação de moradores de Espirito Santinho</h5>
</div>

<app-carousel>
  <app-caroussel-image src="assets/images/queijo/cheese-3463368_1920.jpg" alt="Teste" title="A primeira imagem" subtitle="Teste primeira imagem"></app-caroussel-image>
  <app-caroussel-image src="assets/images/queijo/cheese-4731862_1920.jpg" alt="Teste" title="Queijo" subtitle="Teste primeira imagem"></app-caroussel-image>
  <app-caroussel-image src="assets/images/queijo/cheese-g2bbe21b61_1920.jpg" alt="Teste" title="A terceira imagem" subtitle="Teste primeira imagem"></app-caroussel-image>
  <app-caroussel-image src="assets/images/queijo/cheese-gaacc06359_1920.jpg" alt="Teste" title="Queijo" subtitle="Teste primeira imagem"></app-caroussel-image>
  <app-caroussel-image src="assets/images/queijo/cheese-gcc30bd88a_1920.jpg" alt="Teste" title="KKKKKKKKKKKKKKKKKKKKKKKKK" subtitle="Teste primeira imagem"></app-caroussel-image>
</app-carousel>
