<header class="site-header">
  <div class="content">
    <img src="assets/images/Logo.png" alt="Logo da Associação de Moradores de Espirito Santinho" title="Associação de Moradores de Espirito Santinho" />
    <nav>
      <button class="dropdown-toggle" data-bs-toggle="dropdown">Menu</button>
      <ul ngClass="site-nav">
        <li>História</li>
        <li>Eventos</li>
        <li>Sobre</li>
      </ul>
    </nav>
  </div>
</header>
<main class="site-content">
  <router-outlet></router-outlet>
</main>
<footer class="site-footer">
  <!-- Social media -->
  <p>
    Rua Teotônio Ferreira de Araújo, SN, Espírito Santinho
    Campos dos Goytacazes - RJ, CEP.: 28155-000
  </p>
  <p>
    amoresorg@yahoo.com.br
    Gestão 2022 - 2024.
  </p>
</footer>
